.gradient-banner {
  background: linear-gradient(
    270deg,
    green 14%,
    rgb(144, 238, 144) 32%, 
    rgb(224, 255, 224) 51%  
  );

  text-align: center;
  border: 1px solid     rgb(144, 238, 144) ; 
  padding: 0.2rem;
  height: 1.8rem;
}
