.gradient-banner {
  background: linear-gradient(
    270deg,
    rgb(255, 192, 23) 14%,
    rgb(255, 227, 48) 32%,
    rgb(251, 240, 184) 51%
  );

  text-align: center;
  border: 1px solid #ffcc00; 
  padding: 0.2rem;
}
